body {
    margin: 0px;
    padding: 0px;
    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
     font-size: 5em;
    margin-top: 2.5em; 
    
} 

#time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3em;
}

input{
    border:1px solid transparent;
    background-color: transparent; 
    
}

#btn{
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 25px 13px;
}

button{
    text-align: center;
    border: 1px solid #87252e;
    border-radius: 15px;
    margin: 10px;
    padding: 9px;
    width: 70px;
    height: 50px;
    font-weight: bold;
    background-color: #8e8588;
    color: #87252e;
    font-size: 1em;
}  
   
button:hover{
    background-color: #87252e;
    color:  #8e8588;
    cursor: pointer;
}   
 
 